<% provide(:title, 'Billing Info') %>
<h1>Please provide your account billing info</h1>

<div class='row'>
  <div class='backdrop col-md-6 col-md-offset-3'>
    <%= form_for(@account, url: accounts_path, method: :POST) do |f| %>
      <% if @account.errors.any? %>
        <div id='error_explanation'>
          <div class='alert alert-danger'>
            The form contains <%= pluralize(@account.errors.count, 'error') %>.
          </div>
          <ul>
            <% @account.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :account_name %>
      <%= f.text_field :account_name, class: 'form-control' %>

      <%= f.label :routing_number %>
      <%= f.text_field :routing_number, class: 'form-control' %>

      <%= f.label :account_number %>
      <%= f.text_field :account_number, class: 'form-control' %>

      <%= f.label :savings_account %>
      <%= f.check_box :savings_account, class: 'checkbox inline' %>

      <br/>

      <%= f.submit 'Save', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
